* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: #abb4db;
    overflow-x: hidden;
}

/* ----------Navbar--------- */
nav{
    background-color: #1f2c52;
    height: 5rem;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    list-style-type: none;
    padding: 0 30px;
    transition: transform 0.3s ease-in-out;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
nav li:hover{
    transform: scale(1.2);

}
nav img{
    height: 4rem;
    margin-top: 7px;
    margin-right: auto;
    padding-left: 10px;
}
nav i{
    color: #fff;
    height: 50px;
    width: 5rem;
}
nav .menu{
    height: 2rem;
    width: 5rem;
    fill: #fff;
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.2); /* Light transparent background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Hover pe menu show karna */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown items styling */
.dropdown-menu li {
    padding: 10px 20px;
}
.dropdown-menu a{
    font-size: 1rem;
    color: #2a2929;
}
/*---------------SideBar---------*/

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    transition: right 0.3s ease-in-out;
    height: 70vh;
    overflow-y: auto;
    width: 250px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.2); /* Light transparent background */
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.sidebar .cross{
    height: 2rem;
    width: 3rem;
    margin: 1rem;
}

.sidebar a{
    color: #000 !important;
    font-size: 1.5rem;
    display: block;
    padding: 10px 20px;
}

/* ----------Hero-Section--------- */

.hero-sec {
    height: 60vh;
    background: linear-gradient(135deg, #6375c7, #887ae0, #bc8bdf, #897ba7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 5rem;
}

.hero-sec h1 {
    color: #fff;
    text-align: center;
    font-weight: bolder;
}

.hero-sec p {
    color: #ddd;
    font-size: 1.5rem;
}

.hero-sec .get-started {
    height: 3rem;
    width: 10rem;
    background-color: #475bb5;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
} 
/* ----------container------------ */
.container {
    height: 50vh;
    width: 100%;
}

.container h2 {
    text-align: center;
    margin-top: 5rem;
}

.features-sec {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.features-sec .feature {
    height: 12rem;
    width: 15rem;
    background-color: #6f79a5;
    border-radius: 1rem;
}

.features-sec .feature p {
    padding: 2rem;
    color: #ddd;
}

.features-sec .feature h3 {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    color: #fff;
}

.foot1 {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #293351;
}

.foot1 ul {
    color: #fff;
    font-size: 1.2rem;
    list-style-type: none;
}

.foot1 p {
    margin-bottom: 1rem;
}

.foot1 a {
    color: #999;
    text-decoration: none;
}

.foot2 {
    height: 3rem;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: #fff;
    background-color: #1f2c52;
}

/* ----------Media Queries for Mobile S---------- */
@media screen and (max-width: 320px) {
    nav {
        margin: 0;
        padding: 0;
    }

    nav img {
        height: 3rem;
        width: 7rem;
    }
    nav .menu{
        display: block;
    }
    nav li{
        display: none;
    }
    .sidebar li{
        display: block;
    }
    .dropdown {
        display: none;
    }
    .hero-sec p {
        font-size: 0.87rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .container {
        height: 650px;
    }

    .features-sec {
        flex-direction: column;
        gap: 2rem;
    }

    .features-sec .feature {
        width: 15rem;
        height: 14rem;
    }

    .container h2 {
        margin-top: 2rem;
        margin-bottom: 150px;
    }

    .foot1 {
        height: auto;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot1 ul {
        font-size: 1rem;
    }

    .foot1 p {
        font-size: 1.2rem;
    }

    .foot1 a {
        font-size: 0.9rem;
    }

    .foot2 {
        font-size: 0.8rem;
        padding-top: 1rem;
    }
}

/* ----------Media Queries for Mobile M---------- */
@media screen and (min-width: 321px) and (max-width: 374px) {
    nav {
        margin: 0;
        padding: 0;
        
    }

    nav img {
        height: 3rem;
        width: 7rem;
    }
    nav .menu{
        display: block;
    }
    nav li{
        display: none;
    }
    .sidebar li{
        display: block;
    }
    .dropdown {
        display: none;
    }

    .hero-sec p {
        font-size: 0.87rem;
        text-align: center;
    }

    .container {
        height: 550px;
        
    }

    .features-sec {
        flex-direction: column;
        gap: 2rem;
        
    }

    .features-sec .feature {
        height: 14rem;
    }

    .container h2 {
        margin-top: 2rem;
        margin-bottom: 100px;
    }

    .foot1 {
        height: auto;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot1 ul {
        font-size: 1rem;
    }

    .foot1 p {
        font-size: 1.2rem;
    }

    .foot1 a {
        font-size: 0.9rem;
    }

    .foot2 {
        font-size: 0.8rem;
        padding-top: 1rem;
    }
    
}

/* ----------Media Queries for Mobile L---------- */
@media screen and (min-width: 375px) and (max-width: 455px) {
    nav {
        margin: 0;
        padding: 0;
        width: 455px;
    }

    nav img {
        height: 3rem;
        width: 7rem;
    }
    nav .menu{
        display: block;
    }

    nav li{
        display: none;
    }
    .sidebar li{
        display: block;
    }
    .dropdown {
        display: none;
    }
    .hero-sec {
        width: 455px;
    }

    .hero-sec p {
        font-size: 0.87rem;
        text-align: center;
    }

    .container {
        width: 455px;
        height: 550px;
    }

    .features-sec {
        flex-direction: column;
        gap: 2rem;
    }

    .features-sec .feature {
        width: 25rem;
        height: 14rem;

    }

    .container h2 {
        margin-top: 2rem;
        margin-bottom: 100px;
    }

    .foot1 {
        height: auto;
        width: 455px;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot1 ul {
        font-size: 1rem;
    }

    .foot1 p {
        font-size: 1.2rem;
    }

    .foot1 a {
        font-size: 0.9rem;
    }

    .foot2 {
        font-size: 0.8rem;
        padding-top: 1rem;
        width: 455px;
    }
}

/* ----------Media queries for Tablet----------- */
@media screen and (min-width: 456px) and (max-width: 780px) {
    nav {
        margin: 0;
        padding: 0;
        width: 780px;
    }

    nav img {
        padding-left: 0;
        height: 3rem;
        width: 10rem;
    }

    .nav-list {
        justify-content: space-around;
        margin: 0;
        gap: 0;
    }

    .hero-sec {
        width: 780px;
    }

    .hero-sec p {
        font-size: 0.87rem;
        text-align: center;
    }

    .container {
        width: 780px;
        height: 550px;
    }

    .features-sec {
        flex-direction: column;
        gap: 2rem;
        padding-left: 10px;
    }

    .features-sec .feature {
        width: 40rem;
        height: 14rem;

    }

    .container h2 {
        margin-top: 2rem;
        margin-bottom: 100px;
    }

    .foot1 {
        height: auto;
        width: 780px;
        gap: 5rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot1 ul {
        font-size: 1rem;
    }

    .foot1 p {
        font-size: 1.2rem;
    }

    .foot1 a {
        font-size: 0.9rem;
    }

    .foot2 {
        font-size: 0.8rem;
        padding-top: 1.5rem;
        width: 780px;
    }
}

/* ----------Media queries for laptop--------- */
@media screen and (min-width: 781px) and (max-width: 1024px) {
    nav {
        margin: 0;
        padding: 0;
        width: 1030px;
    }

    .nav-list {
        justify-content: space-around;
        margin: 0;
        gap: 0;
    }
    .nav-list a{
        font-size: 1rem;
    }

    .hero-sec {
        width: 1030px;
    }

    .hero-sec p {
        font-size: 1.2rem;
        text-align: center;
    }

    .container {
        width: 1030px;
        height: auto;
    }

    .features-sec {
        gap: 2rem;
        padding-left: 10px;
    }

    .features-sec .feature {
        width: 15rem;
        height: 14rem;

    }

    .foot1 {
        height: auto;
        width: 1030px;
        gap: 5rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .foot1 ul {
        font-size: 1rem;
    }

    .foot1 p {
        font-size: 1.2rem;
    }

    .foot1 a {
        font-size: 0.9rem;
    }

    .foot2 {
        font-size: 0.8rem;
        padding-top: 1.5rem;
        width: 1030px;
    }
}